body {
  background-color: #b1deb1
}

h1 {
color: #30281e;
text-align: center;
font-family: monospace;
}

p {
  background-color: #deaca4;
  margin: 5px;

  padding: 12px;
  border-radius: 10px;
  border: 5px solid #FFFF;

color: #212b1d;
font-family: monospace;
}

img {

  border: 5px solid white;
  margin: 10px;



}


/*

.polarbears {

  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTXcXi6T3XCD8Ap_a6BaN9Qr52SfX3tQQgyEWYWCwGHCVAPRfuu");
  height:200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: scroll;

}

*/
