

h1 {



  font-family: ClarendonBT-Light, Georgia, serif;
  text-align: center;
  color: #0077b6;
  border-top: 3px solid #0077b6;
  border-bottom: 2px solid #0077b6;
  margin-left:550px;
  margin-right: 550px;

  padding: 20px;

  padding: 3px;


}

p {

text-align:justify;
font-size:19px;
colour: #031636;
font-family: "PlantinMTStd-Regular", Georgia, serif;




}
