body {

background-color: white;
}





h1 {

font-family: ClarendonBT-Light, Georgia, serif;
text-align: center;
color: white;
background-color: #03045e;
font-weight: lighter;
border-top: 5px solid white;
border-bottom: 5px solid white;



padding: 12px;

}

.container {

  padding: 20px;
  margin: 10px;

}

.btn {

  margin: 10px;
  background-color: white;
  border-radius: 2px;
  width: 327px;
  height: 340px;

}


.img {

  width: 202px;
  height: 300px;
  position: relative;
  left: -6px;
  top: -2px;
  border-radius:2px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;

}

.bg-img {

  background-image: url("arctic.jpeg");

  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;

  position: relative;
}


.container2 {
  position: center;
  width: auto;
  justify-content: center;
  margin-bottom: -100px;

}

.topnav {
  position: absolute;
  left: -10px;
  bottom: -10px;
  background: #black;
  padding: 10px;
  color: #white;
  z-index: 999;
}

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    background: black;
}

.topnav li {
	display: inline-block;
}

.topnav li a {
  color: white;
  display: block;
  float: center;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size:30px;
  margin-left:55px;
  margin-right: 55px;
  justify-content: center;
}

.topnav ul ul {
	position: absolute;
	top: 100%;
	display: none;
	font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
}

.topnav ul ul li {
	display: block;
}

.topnav li:hover ul {
	display: block;
	background-color: #black;
    color: white;
}

.topnav ul ul li a:hover {
	background-color: #white;
}

.topnav ul ul li a img {
    background-color: white;
    width: 300px;
    height: 400px;
}

.topnav ul ul li a img2 {
    background-color: white;
    width: 250px;
    height: 250px;
}
