body {

background-color: white;
}





h1 {

font-family: ClarendonBT-Light, Georgia, serif;
text-align: center;
color: white;
background-color: #03045e;
font-weight: lighter;
border-top: 5px solid white;
border-bottom: 5px solid white;



padding: 12px;

}

.container {

  padding: 20px;
  margin: 10px;

}

.btn {

  margin: 10px;
  background-color: white;
  border-radius: 2px;
  width: 327px;
  height: 340px;

}


.img {

  width: 202px;
  height: 300px;
  position: relative;
  left: -6px;
  top: -2px;
  border-radius:2px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;

}

.bg-img {

  background-image: url("arctic.jpeg");

  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}


.container2 {
  position: center;
  width: auto;
  justify-content: center;
  margin-bottom: -100px;

}

.topnav {
  position: relative;
  justify-content: center;
  bottom: 0px;
  background: #black;
  padding: 0px 20px;
  margin: 0;
  z-index: 99;
 }

.topnav ul {
	list-style-type: none;
    background: black;
    margin-left:55px;
    margin-right: 55px;
    text-align: center;
}

.topnav li {
	display: inline-block;
}

.topnav li a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size:30px;
  margin-left:55px;
  margin-right: 55px;
}

.topnav ul ul {
    display: block;
    position: absolute;
    top: 63px;
    left: 150px;
	display: none;
	font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    list-style: none;
    justify-content: center;
}

.topnav li:hover ul {
	display: block;
	/*Changes the background hover colour */
	background-color: white;
	width: 1500px;
	height: 500px;
}

.topnav ul li ul li a{
    list-style-type: none;
    margin: 50;
    padding: 50;
    display: flex;
}

.topnav ul ul li a img {
    background-color: white;
    width: 300px;
    height: 400px;
}

.topnav ul ul li a img.img2 {
    background-color: white;
    width: 150px;
    height: 150px;
}
