body {

  background-color: powderblue;

}

h1 {

font-family: "Monaco", monospace;
text-align: center;
padding: 3px;

}

.btn {

  margin: 10px;
  background-color: pink;
  border-radius: 5px;
  border: 3px solid white;
  width: 210px;
  height: 305px;
  filter: drop-shadow(0px 0px 8px white);




}

<! Navigation bar CSS, feel free to change colour/font! />
.navbar {
    background-color: black;
    font-family: "Times New Roman", Times, serif;
    overflow:hidden;
}

<! Styles the links inside of the navigation bar />
.navbar a {
    text-align: left;
    color: white;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
}
